
.canvas-input{
    position: absolute;
    border:none;
    outline: none;
    user-select: none;
    width: 1px;
    z-index: 3;
    opacity: 0;
    pointer-events: none;
}

@keyframes van-cursor-flicker {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.render-input{
    position: absolute;
    background-color: #000000;
    width: 1px;
    height: 12px;
    z-index: 4;

    animation: 0.6s van-cursor-flicker infinite;


}