.pop-menu{
    position: absolute;
    z-index: 5;
    background-color: #FFFFFF;
    cursor: pointer;
    width: 16px;
    height: 16px;
    padding: 2px;
    border-radius: 2px;
    box-sizing: border-box;
    border: 1px solid;

    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.basic-pop-panel{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.basic-pop-panel-grid{

    width: 202px;
    height: 76px;
    padding: 12px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;


}